<!--Angular dispone de un modulo para trabajar con formularios como son:
formularios Normales o formularios reacivos y para poder utilizar los modulos de formularios
es necesario declararlos en el dbz.module.ts-->
<h3>Dragon Ball z</h3>

<div class="row">
    <!--Esta linea proviene de la carpeta personajes component asi declaramos entre 
    llaves para cachar al input que proviene de la carpeta personajes-->
    <app-personajes></app-personajes>
    <div>
        <app-agregar [nuevo]="nuevo"></app-agregar>
    </div>
</div>